<div class="outerAll">
    {{!-- {{#if }} --}}
    <a href="/api/comment">
        <div class="innerAll">
            {{#each postInfo as |post|}}

            <a href="/post/{{post.id}}">


                
            <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Title: {{post.title}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted"> By:{{post.User.username}}</h6>
                        <p class="card-text">{{post.body}}</p>
                       
                    </div>
                


                <div>
                    {{#each post.Comments as |comment|}}
                    <p1 class="modCom">{{comment.User.username}} commented: <br> {{comment.body}}</p1> <br>
                    
                    <p1>Created At:{{comment.createdAt}}</p1>
                    {{!-- <p1>{{}}</p1> --}}
                    {{/each}}
                </div>
            </a>
            {{/each}}
            </div>
        </div>



        {{!-- <a href="/api/post">
            <button class="no-button" id="logout">create a post</button>
        </a> --}}
</div>