<div class="container bg-secondary text-white">
{{!-- <a href="/api/comment"> --}}
    <h1>View Post</h1>
    {{#each postInfo as |post|}}
    <div>
        <a href="/post/{{post.id}}">
        <p1>author: {{post.User.username}}</p1><br>
        <p1>Title of post: {{post.title}}</p1><br>
        <p1>Post text: {{post.body}}</p1>
        {{!-- {{format_date post.theDate}} --}}
       
    </a>
    </div>
    {{/each}}
    


    

<div>

    {{!-- <a href="/api/post">
        <button class="no-button" id="logout">create a post</button>
    </a> --}}
</div>