<div class="outerAll">

    {{!-- <h1>View Posts</h1> --}}

    {{#each allPost as |post|}}
    <div id="postId" class="innerAll">


        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Title: {{post.title}}</h5>
                <h6 class="card-subtitle mb-2 text-muted"> By:{{post.User.username}}</h6>
                <p class="card-text">{{post.body}}</p>

            </div>



            <div>
                {{#each post.Comments as |comment|}}
                <p1 class="modCom">{{comment.User.username}} commented: <br> {{comment.body}}</p1> <br>


                {{/each}}
            </div>

            <button class="btnDash delete-btn" data-id="{{post.id}}">DELETE</button>
            <button type="submit" id="edit-post-form" class="btnDash">Update</button>
            {{!-- <h2>Author: {{post.User.username}}</h2>
            <p1 id="title">Title of post: {{post.title}}</p1><br>
            <p1 id="body">Post text: {{post.body}}</p1><br>


            <button class="btn delete-btn" data-id="{{post.id}}">DELETE</button>
            <button type="submit" id="edit-post-form" class="btn">Update</button>



            {{#each post.Comments as |comment|}}
            <div>
                <p1 class="modCom">{{comment.User.username}} commented: <br> {{comment.body}}</p1> <br>

            </div>

        </div> --}}
        {{/each}}
    </div>


    {{!-- {{/each}} --}}

    <script src="/js/edit.js"></script>