<div>
  
   <div>
       
        {{!-- <p1>author: {{post.User.username}}</p1><br> --}}
        <p1>Title of post: {{post.title}}</p1><br>
        <p1>Post text: {{post.body}}</p1>
        {{!-- {{format_date post.theDate}} --}}
       
    
    </div>
</div>
<form id="new-comment-form">
 
  <div class="form-group" id="postId" data-id = "{{post.id}}">
    <label for="exampleInputPassword1">leave a comment</label>
    <input type="textarea" class="form-control" id="commentBody">
  </div>
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

{{!-- {{User.username}} --}}
{{!-- {{body}} --}}

<script src="/js/comment.js"></script>